{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}

    <script type="text/javascript">
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            //googleCalendarApiKey: 'AIzaSyDs8ldPAzJ8XwHlCoIiITVvb-J3dIZKmUY',

            googleCalendarApiKey: 'AIzaSyDy4L8f1AMz49DEbNYrsJkn5Jr18lJRDhg',
            events: {
                //googleCalendarId: 'arnold-j83@sky.com'
                googleCalendarId: 'catkin.order@gmail.com'
            },
            eventClick: function(event) {
                // opens events in a popup window
                window.open(event.url, 'gcalevent', 'width=500,height=300');
                return false;
            },

            loading: function(bool) {
                $('#loading').toggle(bool);
            }

        });

    });
    </script>
<div class="jumbotron hero7  container">
 <h1 class="heroh1">Apartment Brisas</h1>
 <h2 class="heroh2">Availability and Booking {{title}}</h2>
</div>
<div class="container">
	<div class="row">
        <div class="box">
            <div class="col-lg-12">
                <h2>Enquire about Availability</h2>
                <p>Apartment Brisas is available throughout the year, the calender below will show you when apartment brisas is available / booked.</p>
                <div class="container">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <button type="button" class="btn btn-primary btn-large" data-toggle="modal" data-target="#enquiry-modal">Make an Enquiery</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="enquiry-modal" tabindex="-1" role="dialog" aria-labelledby="enquiry-form-modal" aria-hidden="true">
<!-- Bootstrap modal popup which includes the angular form-->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="todo-form-header">Enquiry Form</h2>
                </div>
                <div class="modal-body">
                <form class="viewType" name="register_form" method="post" action="{% url 'availability' %}">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <input type="submit" class="btn btn-primary" value="submit enquiry">
                </form>
                {% if datesNoAvailable %}
                    {{ datesNoAvailable }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <h2 class="text-center">Terms and conditions</h2>
                <ul>
                    <li>We require a full list of names of the clients renting</li>
                    <li>We require flight details for smooth change over</li>
                    <li>We always recommend insurance</li>
                    <li>A none-refundable deposit of £50 to secure any bookings</li>
                    <li>REFUNDABLE £50 security deposit required with final balance payment (separate cheque, sent back after holiday)</li>
                    <li>Remaining balance to be paid in full 4 weeks prior to arrival</li>
                    <li>40 Euros cleaning cost per booking up to 2 weeks</li>
                    <li>60 Euros cleaning cost per booking 3 weeks or more</li>
                    <li>On the day of arrival especially at busy times (clients departing/arriving on same day) there needs to be a swift 'change over', the apartment will be ready by 2pm.</li>
                    <li>If your flight comes in earlier, we can arrange for bags to be stored in the apartment whilst being cleaned</li>
                    <li>On the day of departure, vacate the apartment by 10am.</li>
                </ul>
                <h2 class="text-center">Long Lets</h2>
                <ul>
                    <li>We require a full list of names of the clients letting</li>
                    <li>We require flight details for smooth change over</li>
                    <li>We alway recommend insurance</li>
                    <li>For longer 'Lets' a larger deposit is required and RETURNED after your stay</li>
                    <li>Balance to be paid in full straight away</li>
                    <li>Cleaning costs per booking 60 Euros, to be left on the table for cleaner</li>
                    <li>On the day of arrival especially at busy times (clients departing/arriving on same day) there needs to be a swift 'change over', the apartment will be ready by 2pm. <br />If your flight comes in earlier, we can arrange for bags to be stored in the apartment whilst being cleaned</li>
                    <li>On the day of departure, vacate the apartment by 10am.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">


    <div class="modal fade" id="todo-modal" tabindex="-1" role="dialog" aria-labelledby="todo-form-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="todo-form-header">Todo Item</h4>
                </div>
                <div class="modal-body">
                    <form name="todoForm" ng-submit="submitForm()" novalidate>
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" name="title" class="form-control" ng-model="todo.title" required>
                            <p ng-show="todoForm.title.$pristine" class="help-block">A title is required</p>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" name="description" class="form-control" ng-model="todo.description" required>
                            <p ng-show="todoForm.password.$pristine" class="help-block">A description is required</p>
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" name="status" ng-model="todo.status">
                                <option value="Todo">Todo</option>
                                <option value="Doing">Doing</option>
                                <option value="Done">Done</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}